@layer base {
  ::-webkit-scrollbar {
    background: #ededed;
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background: #41444384;
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #3a3b3b;
  }
}
@layer utilities {
  .title {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

:root {
  --animation: -1625px;
  --duration: 30s;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes carousel {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(var(--animation));
  }
  100% {
    transform: translateX(0);
  }
}

.animate-carousel {
  animation: carousel var(--duration) linear infinite;
  white-space: nowrap;
}

@keyframes mobile-menu-animate {
  from {
    margin-left: -100%;
  }

  to {
    margin-left: 0%;
  }
}
